In [119]:
import pandas as pd
import numpy as np

In [120]:
df=pd.read_csv('auto.csv.csv')

### Print out the first 8 entries

In [121]:
df.head(8)

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,13495
1,3,alfa-romero,gas,std,2,convertible,rwd,front,88.6,168.8,...,130,mpfi,3.47,2.68,9,111,5000,21,27,16500
2,1,alfa-romero,gas,std,2,hatchback,rwd,front,94.5,171.2,...,152,mpfi,2.68,3.47,9,154,5000,19,26,16500
3,2,audi,gas,std,4,sedan,fwd,front,99.8,176.6,...,109,mpfi,3.19,3.40,10,102,5500,24,30,13950
4,2,audi,gas,std,4,sedan,4wd,front,99.4,176.6,...,136,mpfi,3.19,3.40,8,115,5500,18,22,17450
5,2,audi,gas,std,2,sedan,fwd,front,99.8,177.3,...,136,mpfi,3.19,3.40,8,110,5500,19,25,15250
6,1,audi,gas,std,4,sedan,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8,110,5500,19,25,17710
7,1,audi,gas,std,4,wagon,fwd,front,105.8,192.7,...,136,mpfi,3.19,3.40,8,110,5500,19,25,18920

### Return a data frame containing the minimum price of each car

In [122]:
grpy=df.groupby("make")

In [123]:
mininum_price=grpy['price'].min()

In [124]:
print(mininum_price)

make
alfa-romero      13495
audi             13950
bmw              16430
chevrolet         5151
dodge             5572
honda             5399
isuzu             6785
jaguar           32250
mazda             5195
mercedes-benz    25552
mercury          16503
mitsubishi        5389
nissan            5499
peugot           11900
plymouth          5572
porsche          22018
saab             11850
subaru            5118
toyota            5348
volkswagen        7775
volvo            12940
Name: price, dtype: int64

### What is the smallest standard deviation of the prices?

In [125]:
df.tail(2)

,symboling,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,length,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
191,-1,volvo,diesel,turbo,4,sedan,rwd,front,109.1,188.8,...,145,idi,3.01,3.40,23,106,4800,26,27,22470
192,-1,volvo,gas,turbo,4,sedan,rwd,front,109.1,188.8,...,141,mpfi,3.78,3.15,9,114,5400,19,25,22625

### return the last 2 rows of each group of car make and fuel_type

In [166]:
column_name=['make','fuel_type']
print(df[column_name].tail(2))

      make fuel_type
191  volvo    diesel
192  volvo       gas

### Create 2 separate dictionaries and join them as a new dataset

In [168]:
dict1 = {'make': ['Alfa-Romero', 'mercedes-benz', 'audi'], 'number_of_doors': [2, 4, 6]}
dict2 = {'make': ['porsche', 'volvo', 'Nissan'], 'number_of_doors': [3, 1, 5]}
df1 = pd.DataFrame(dict1)
df2 = pd.DataFrame(dict2)
merged_df = pd.concat([df1, df2], ignore_index=True)

print(merged_df)

            make  number_of_doors
0    Alfa-Romero                2
1  mercedes-benz                4
2           audi                6
3        porsche                3
4          volvo                1
5         Nissan                5